//  *********************************************************************
//  =main sass file
//
//  Author : @douglasdeodato
//  Date   : 03/02/2017
//  Version: package.json
//  *********************************************************************/
// ==========================================================================
// Variables
// ==========================================================================
// Descriptive Base Colors

$white: #ffffff;
$black: #000;

$font-url--google: 'http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,900';


body {
  overflow-x: hidden;
}
